
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: white;
  background-color: #ffffff;
}

.header {
  margin-bottom: 5vh;
  height: 40vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}
.header img {
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  max-width: 1400px;
  margin: 0 auto;
}

.left {
  margin-left: -20%;
}

.right {
  margin-right: -20%;
}

.person {
  font-size: 3vh;
	width: 80%;
  background-color: #6e96bd;
  display: flex;
  border: 4px solid;
  border-radius: 50px;
  border-color: #d7c980;
}
.person img {
  margin: 5%;
  border-radius: 3%;
  max-width: 30%;
  height: 50vh;
  object-fit: cover;
}
.person p {
  width: 70%;
  padding: 3%;
  margin: auto;
}

.introduction::after {
  content: "";
  width: 350px;
}
